/* ========== IMPORTATION DES POLICES D'ECRITURE ========== */
@font-face {
    font-family: "Font_titre";
    src: url("../font/Rastanty Cortez.ttf") format('truetype');
}


@font-face {
    font-family: "Font_corps";
    src: url("../font/Congenial Light Italic.ttf") format('truetype');
}
/* ---------- IMPORTATION DES POLICES D'ECRITURE ---------- */


/* ========== PERSONNALISATION DES BARRES DE DEFILEMENT ========== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
	border: 0px;  
    background-color: #2B2C5A;
}
   

::-webkit-scrollbar-thumb {
	background: dimgrey; 
	border-radius: 5px;
}
  

::-webkit-scrollbar-thumb:hover {
	background: #9ae69a; 
}
/* ---------- PERSONNALISATION DES BARRES DE DEFILEMENT ---------- */


/* ========== DOCUMENT GLOBAL ========== */
.body
{
    margin: 0px;
    padding: 0px;
    background-color: #2B2C5A;
}


.arriere_plan
{
    background: radial-gradient(#254275 0%, #2B2C5A 50%);
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    top: 0px;
    z-index: -1000;
    width: 100%;
}


.avec_pointeur
{
    cursor: pointer;
}


.sans_decoration,
.sans_decoration:link,
.sans_decoration:visited,
.sans_decoration:hover,
.sans_decoration:active
{
    text-decoration: none;
    color: inherit;
}
/* ---------- DOCUMENT GLOBAL ---------- */


/* ========== BANDEAU SUPERIEUR DU MENU ========== */
.header
{
    background-color: #2B2C5A;
    box-shadow: 0 0 10px 10px #2B2C5A;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.header_gauche
{
    float: left;
    height: 100%;
    text-align: right;
    width: calc(50% - 200px);
}


.header_droit
{
    float: right;
    height: 100%;
    text-align: left;
    width: calc(50% - 200px);
}


.header_gauche_titre
{
    color: #BBAEE1;
    display: inline-block;
    font-family: Font_corps;
    font-size: 30px;
    height: 100%;
    margin-left: 50px;
    line-height: 75px;
    text-decoration: none;
}


.header_gauche_titre :hover
{
    color: white;
}


.header_droit_titre
{
    color: #BBAEE1;
    display: inline-block;
    font-family: Font_corps;
    font-size: 30px;
    height: 100%;
    margin-right: 50px;
    line-height: 75px;
    text-decoration: none;
}


.header_droit_titre :hover
{
    color: white;
}


.logo_principal
{
    height: 100px;
    left: calc(50% - 50px);
    position: absolute;
    top: 0px;
    text-align: center;
}
/* ---------- BANDEAU SUPERIEUR DU MENU ---------- */


/* ========== CORPS DU SITE ET CONTENUS ========== */
.main
{
    padding-top: 100vh;
}


.titre_principal
{
    background: -webkit-linear-gradient(white 40%, #BBAEE1 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Font_titre;
    font-size: 125pt;
    font-weight: bold;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    opacity: 0;
    text-align: center;   
    transition: visibility 0.5s, opacity 0.5s ease-in;
    top: 10vh;
    visibility: hidden;
    width: 100%;
}


.etoiles
{
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    opacity: 0; 
    transition: visibility 0.5s, opacity 0.5s ease-out;
    top: calc(50% - 50px);
    visibility: hidden;
    height: 200px;
    min-width: 100%;
}


.logo_scroll
{
    bottom: -10px;
    left: calc(50vw - 30px);
    margin: 0px;
    padding: 0px;
    position: fixed;
    opacity: 0.5; 
    transition: visibility 0.5s 1s, opacity 0.5s 1s linear;
    visibility: hidden;
    width: 60px;

    animation: myothermove 1s infinite alternate;
}


@keyframes myothermove 
{
    from {bottom: -10px;}
    to {bottom: 0px;}
}


.titre_section
{
    background: -webkit-linear-gradient(white 40%, #BBAEE1 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Font_titre;
    font-size: 70pt;
    font-weight: bold;
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    padding: 0px;
}


.texte_corps
{
    color: white;
    font-family: Font_corps;
    font-size: 20pt;
    margin: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 0px;
    line-height: 35px;
}


.texte_indisponible
{
    color: grey;
}

.liste_membres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}


.item_membres
{
    width: 250px;
    text-align: center;
}


.photo_membres
{
    border-radius: 50%;
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
}


.nom_membres
{
    text-align: center;
    width: 100%;
    color: white;
    font-family: Font_corps;
    font-size: 30pt;
    margin: 0px;
    padding: 0px;
}


.role_membres
{
    text-align: center;
    width: 100%;
    color: #BBAEE1;
    font-family: Font_corps;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
}


.liste_actualites
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.item_actualites
{
    width: 250px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 20px white;
    border-radius: 10px;
}


.item_actualites :hover
{
    cursor: pointer;
}


.photo_actualites
{
    width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.date_actualites
{
    color: #BBAEE1;
    font-family: Font_corps;
    font-size: 30pt;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}


.lieu_actualites
{
    color: #BBAEE1;
    font-family: Font_corps;
    font-size: 12pt;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}


.description_actualites
{
    color: #254275;
    font-family: Font_corps;
    font-size: 12pt;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 0px;
}


.details_actualites
{
    color: grey;
    font-family: Font_corps;
    font-size: 12pt;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 0px;
}
/* ---------- CORPS DU SITE ET CONTENUS ---------- */


/* ========== PAGE CONTACT ========== */
.tableau_contact
{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}


.cell2_contact
{
    overflow: hidden;
    padding-left: 25px;
}


.image_contact
{
    height: 100px;
}
.legende_contact
{
    color: white;
    font-family: Font_corps;
    font-size: 20pt;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
}
/* ---------- PAGE CONTACT ---------- */


/* ========== REFERENCES EXTERNES ========== */

/* ---------- REFERENCES EXTERNES ---------- */


/* ========== PIED DE PAGE ========== */
footer
{
    height: 50px;
}
/* ---------- PIED DE PAGE ---------- */