@font-face {
    font-family: "Regular";
    src: url("Congenial.ttf") format('truetype');
}

@font-face {
    font-family: "Bold";
    src: url("Congenial Bold.ttf") format('truetype');
}

@font-face {
    font-family: "UltraBold";
    src: url("Congenial UltraBold.ttf") format('truetype');
}

@font-face {
    font-family: "Light";
    src: url("Congenial Light.ttf") format('truetype');
}

@font-face {
    font-family: "UltraLight";
    src: url("Congenial UltraLight.ttf") format('truetype');
}

*
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Body
{
    margin: 0px;
    padding: 0px;
    font-family: UltraLight;
    font-size: 20pt;
    color: white;
    overflow: hidden;
}

.Plateau
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url("Tapis.jpg"), #002252;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 125px 25px black;
}

.LogoUcc
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    max-width: 50%;
    opacity: 5%;
}

.PleinEcran
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 100%;
}

.Titre
{
    font-family: Bold;
    font-size: 60pt;
    text-align: center;
}

.SousTitre
{
    font-family: Light;
    font-size: 30pt;
    text-align: center;
}

.ChampTexte
{
    width: 80%;
    height: 50px;
    font-family: Light;
    font-size: 30pt;
    outline: none;
    border: none;
    background: transparent;
    text-align: center;
    color: #bbaee1;
}

.BoutonValider
{
    width: 80%;
    height: 50px;
    font-family: Bold;
    font-size: 30pt;
    outline: none;
    border: none;
    text-align: center;
    background: transparent;
    color: #bbaee1;
    cursor: pointer;
}

.CarteRecto
{
    width: calc(var(--screenWidth) * var(--screenHeight) * 0.00015px);
    height: calc(var(--screenWidth) * var(--screenHeight) * 0.0002px);
    position: absolute;
    top: calc(0vh + (80vh * var(--randomY)));
    left: calc(0vw + (80vw * var(--randomX)));
    transform: rotate(calc(360deg * var(--randomRotate)));
    transform-origin: center;
    border-radius: calc(var(--screenWidth) * var(--screenHeight) * 0.00001px);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: grab;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.Violette
{
    background-color: #bbaee1;
    color: #3a3645;
}

.VioletteTexte
{
    color: #bbaee1;
    font-family: Bold;
}

.Jaune
{
    background-color: #f4e580;
    color: #4b4627;
}

.JauneTexte
{
    color: #f4e580;
    font-family: Bold;
}

.Bleue
{
    background-color: #138ec4;
    color: #062c3c;
}

.BleueTexte
{
    color: #138ec4;
    font-family: Bold;
}

.LogoCartes
{
    opacity: 50%;
    width: 75%;
}

.CarteVerso
{
    width: var(--Largeur);
    height: var(--Hauteur);
    position: absolute;
    top: 125vh;
    left: calc(50vw - (var(--Largeur))/2);
    transform: rotate(-5deg);
    border-radius: 25px;
    transition: left 1s, top 1s;
    font-family: Bold;
    font-size: calc(0.5 * var(--screenWidth) * var(--screenHeight) * 0.000075px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    gap: 25px;
}

.LogoCartesVerso
{
    width: 25%;
}

.Reponses
{
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0vh;
    right: 0vw;
    transition: opacity 1s;
    font-family: Regular;
    font-size: calc(0.5 * var(--screenWidth) * var(--screenHeight) * 0.00005px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 25px;
    gap: 25px;
    opacity: 0%;
}

.SelectionCategorie
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.SelectionLigne
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: Light;
    font-size: 20pt;
}

.SelectionItem
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 5px solid transparent;
    padding: 25px;
}

.SelectionImage
{
    width: 100px;
}
